<div class="progress password-meter">
  <div {{bind-attr class="progressType"}} role="progressbar"
    {{bind-attr aria-valuenow="score"}} aria-valuemin="0"
    aria-valuemax="100" {{bind-attr style="progressWidth"}}></div>
</div>
