<label class="control-label" {{bind-attr for="inputField.elementId"}}>{{label}}</label>
{{input
  typeBinding="type"
  class="form-control"
  placeholderBinding="placeholder"
  valueBinding="value"
  viewName="inputField"}}
<span class="help-block">{{message}}</span>
